<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Poppins:wght@600&family=Roboto+Condensed:wght@300;400;700&family=Zen+Kurenaido&display=swap"
    rel="stylesheet">
  <title>Finsotienda</title>
</head>

<body>

  <!-- HEADER -->
  <!-- obviously  ¿no? -->

  <header>
    <div class="h-title">

      <div class="h-logo">
        <!-- 
        <p>Tu<br>Tienda<br>en Casa</p> -->
        <div class="logo-left">

        </div>
      </div>

      <div class="con-title-icon">

        <div id="i_arrow" class="icon-arrow">
          <a href="#" (click)="mostrarOcultar()"><i class="fa-solid fa-chevron-left"
              style="color: var(--white);"></i></a>
        </div>

        <div class="title-sale">
          <p>Ventas</p>
        </div>
      </div>

    </div>

    <!-- Barra de busqueda-->

    <div class="serch-bar">
      <div class="input-serch">
        <input (keyup)="onKey($event)" class="input-red" placeholder="Buscar producto" type="text" #pro>
        <a class="serch-icon" (click)="filterPro(pro.value)"><i class="fa-solid fa-magnifying-glass"></i></a>
      </div>

    </div>
  </header>

  <div class="cont-main">

    <!-- LEFT MENU -->
    <div class="left-menu" id="sideMenu">
      <div class="user-img">
        <div class="edit-img">
          <i class="fa-solid fa-pencil"></i>
        </div>
      </div>

      <a href="#">
        <div class="con-text-menu">
          <i class="fa-solid fa-house-chimney red-color"></i>
          <h4 class="red-color">Inicio</h4>
        </div>
      </a>

      <a href="#">
        <div class="con-text-menu">
          <i class="fa-solid fa-users red-color"></i>
          <h4 class="red-color">Clientes</h4>
        </div>
      </a>

      <a href="#" class="">
        <div class="con-text-menu selected">
          <i class="fa-solid fa-basket-shopping"></i>
          <h4>Ventas</h4>
        </div>
      </a>

      <a href="#">
        <div class="con-text-menu">
          <i class="fa-solid fa-clipboard-list red-color"></i>
          <h4 class="red-color">Compras</h4>
        </div>
      </a>

      <a href="#">
        <div class="con-text-menu">
          <i class="fa-solid fa-cash-register red-color"></i>
          <h4 class="red-color">Caja</h4>
        </div>
      </a>

      <a href="#">
        <div class="con-text-menu">
          <i class="fa-solid fa-boxes-stacked red-color"></i>
          <h4 class="red-color">Inventario</h4>
        </div>
      </a>

      <a href="#">
        <div class="con-text-menu">
          <i class="fa-solid fa-tag red-color"></i>
          <h4 class="red-color">Productos</h4>
        </div>
      </a>

      <a href="#">
        <div class="con-text-menu">
          <i class="fa-solid fa-hotel red-color"></i>
          <h4 class="red-color">Reportes</h4>
        </div>
      </a>


      <div class="con-btn-cerrar">
        <a href="" class="btn-red">CERRAR CAJA</a>
      </div>

      <div class="con-btn-salir">
        <a href="" class="btn-red">SALIR</a>
      </div>

    </div>


    <!-- MAIN PAGE -->
    <div class="main-page" id="main_page">

      <div class="con-pro" id="p1">
        <div class="product zoomIn">
          <div class="pro-img img2">

          </div>
          <div class="pro-name">
            <h4>Arroz Roa 1000g</h4>
          </div>
          <div class="pro-prace">
            <h4>$1.200</h4>
          </div>
        </div>
        <div class="con-number">
          <input type="number" value="{{ valor }}" class="in-con-number" id="numero" min="0" max="100" #numero>

          <button class="btn-menos" value="" id="decrement" #numero (click)="decrement(numero.value)">-</button>

          <button class="btn-mas" value="" id="increment" (click)="increment(numero.value)">+</button>

        </div>
      </div>

      <div class="con-pro" id="p2">
        <div class="product zoomIn">
          <div class="pro-img img3">

          </div>
          <div class="pro-name">
            <h4>Coca Cola 250ml</h4>
          </div>
          <div class="pro-prace">
            <h4>$1.000</h4>
          </div>
        </div>
        <div class="con-number">
          <input type="number" value="{{ valor1 }}" class="in-con-number" id="numero" min="0" max="100" #numero1>

          <button class="btn-menos" value="" id="decrement" #numero1 (click)="decrement1(numero1.value)">-</button>

          <button class="btn-mas" value="" id="increment" (click)="increment1(numero1.value)">+</button>
        </div>
      </div>

      <div class="con-pro" id="p3">
        <div class="product zoomIn">
          <div class="pro-img img4">

          </div>
          <div class="pro-name">
            <h4>Atún Van Camp 180g</h4>
          </div>
          <div class="pro-prace">
            <h4>$3.500</h4>
          </div>
        </div>

        <div class="con-number">
          <input type="number" value="{{ valor2 }}" class="in-con-number" id="numero" min="0" max="100" #numero2>

          <button class="btn-menos" value="" id="decrement" #numero2 (click)="decrement2(numero2.value)">-</button>

          <button class="btn-mas" value="" id="increment" (click)="increment2(numero2.value)">+</button>
        </div>
      </div>

      <div class="con-pro" id="p4">
        <div class="product zoomIn">
          <div class="pro-img img5">

          </div>
          <div class="pro-name">
            <h4>Maíz tostado la especial 40g</h4>
          </div>
          <div class="pro-prace">
            <h4>$1.000</h4>
          </div>
        </div>

        <div class="con-number">
          <input type="number" value="{{ valor3 }}" class="in-con-number" id="numero" min="0" max="100" #numero3>

          <button class="btn-menos" value="" id="decrement" #numero3 (click)="decrement3(numero3.value)">-</button>

          <button class="btn-mas" value="" id="increment" (click)="increment3(numero3.value)">+</button>
        </div>
      </div>

      <div class="con-pro" id="p5">
        <div class="product zoomIn">
          <div class="pro-img img6">

          </div>
          <div class="pro-name">
            <h4>Pepsi 260ml</h4>
          </div>
          <div class="pro-prace">
            <h4>$1.000</h4>
          </div>
        </div>
        <div class="con-number">
          <input type="number" value="{{ valor4 }}" class="in-con-number" id="numero" min="0" max="100" #numero4>

          <button class="btn-menos" value="" id="decrement" #numero4 (click)="decrement4(numero4.value)">-</button>

          <button class="btn-mas" value="" id="increment" (click)="increment4(numero4.value)">+</button>
        </div>
      </div>

      <div class="con-pro" id="p6">
        <div class="product zoomIn">
          <div class="pro-img img7">

          </div>
          <div class="pro-name">
            <h4>Papas Lays 120g</h4>
          </div>
          <div class="pro-prace">
            <h4>$1.500</h4>
          </div>
        </div>
        <div class="con-number">
          <input type="number" value="{{ valor5 }}" class="in-con-number" id="numero" min="0" max="100" #numero5>

          <button class="btn-menos" value="" id="decrement" #numero4 (click)="decrement5(numero5.value)">-</button>

          <button class="btn-mas" value="" id="increment" (click)="increment5(numero5.value)">+</button>
        </div>
      </div>

      <div class="con-pro" id="p7">
        <div class="product zoomIn">
          <div class="pro-img img8">

          </div>
          <div class="pro-name">
            <h4>Papas pringles 137g</h4>
          </div>
          <div class="pro-prace">
            <h4>$4.800</h4>
          </div>
        </div>
        <div class="con-number">
          <input type="number" value="{{ valor6 }}" class="in-con-number" id="numero" min="0" max="100" #numero6>

          <button class="btn-menos" value="" id="decrement" #numero6 (click)="decrement6(numero6.value)">-</button>

          <button class="btn-mas" value="" id="increment" (click)="increment6(numero6.value)">+</button>
        </div>
      </div>

      <div class="con-pro" id="p8">
        <div class="product zoomIn">
          <div class="pro-img img9">

          </div>
          <div class="pro-name">
            <h4>Doritos 180g</h4>
          </div>
          <div class="pro-prace">
            <h4>$2.000</h4>
          </div>
        </div>
        <div class="con-number">
          <input type="number" value="{{ valor7 }}" class="in-con-number" id="numero" min="0" max="100" #numero7>

          <button class="btn-menos" value="" id="decrement" #numero7 (click)="decrement7(numero7.value)">-</button>

          <button class="btn-mas" value="" id="increment" (click)="increment7(numero7.value)">+</button>
        </div>
      </div>

      <div class="con-pro" id="p9">
        <div class="product zoomIn">
          <div class="pro-img img10">

          </div>
          <div class="pro-name">
            <h4>Chococrispis 1630g</h4>
          </div>
          <div class="pro-prace">
            <h4>$20.000</h4>
          </div>
        </div>
        <div class="con-number">
          <input type="number" value="{{ valor8 }}" class="in-con-number" id="numero" min="0" max="100" #numero8>

          <button class="btn-menos" value="" id="decrement" #numero8 (click)="decrement8(numero8.value)">-</button>

          <button class="btn-mas" value="" id="increment" (click)="increment8(numero8.value)">+</button>
        </div>
      </div>

      <div class="con-pro" id="p10">
        <div class="product zoomIn">
          <div class="pro-img img11">

          </div>
          <div class="pro-name">
            <h4>Jugo Hit 200ml</h4>
          </div>
          <div class="pro-prace">
            <h4>$1.000</h4>
          </div>
        </div>
        <div class="con-number">
          <input type="number" value="{{ valor9 }}" class="in-con-number" id="numero" min="0" max="100" #numero9>

          <button class="btn-menos" value="" id="decrement" #numero9 (click)="decrement9(numero9.value)">-</button>

          <button class="btn-mas" value="" id="increment" (click)="increment9(numero9.value)">+</button>
        </div>
      </div>

      <div class="con-pro" id="p11">
        <div class="product zoomIn">
          <div class="pro-img img12">

          </div>
          <div class="pro-name">
            <h4>Pastas Doria 500g</h4>
          </div>
          <div class="pro-prace">
            <h4>$2.500</h4>
          </div>
        </div>
        <div class="con-number">
          <input type="number" value="{{ valor10 }}" class="in-con-number" id="numero" min="0" max="100" #numero10>

          <button class="btn-menos" value="" id="decrement" #numero10 (click)="decrement10(numero10.value)">-</button>

          <button class="btn-mas" value="" id="increment" (click)="increment10(numero10.value)">+</button>
        </div>
      </div>

      <div class="con-pro" id="p12">
        <div class="product zoomIn">
          <div class="pro-img img13">

          </div>
          <div class="pro-name">
            <h4>Arroz Diana 500g</h4>
          </div>
          <div class="pro-prace">
            <h4>$3.000</h4>
          </div>
        </div>
        <div class="con-number">
          <input type="number" value="{{ valor11 }}" class="in-con-number" id="numero" min="0" max="100" #numero11>

          <button class="btn-menos" value="" id="decrement" #numero11 (click)="decrement11(numero11.value)">-</button>

          <button class="btn-mas" value="" id="increment" (click)="increment11(numero11.value)">+</button>
        </div>
      </div>

      <div class="con-pro" id="p13">
        <div class="product zoomIn">
          <div class="pro-img img14">

          </div>
          <div class="pro-name">
            <h4>McCain Papas 2.5kg</h4>
          </div>
          <div class="pro-prace">
            <h4>$14.000</h4>
          </div>
        </div>
        <div class="con-number">
          <input type="number" value="{{ valor12 }}" class="in-con-number" id="numero" min="0" max="100" #numero12>

          <button class="btn-menos" value="" id="decrement" #numero12 (click)="decrement12(numero12.value)">-</button>

          <button class="btn-mas" value="" id="increment" (click)="increment12(numero12.value)">+</button>
        </div>
      </div>

      <div class="con-pro" id="p14">
        <div class="product zoomIn">
          <div class="pro-img img15">

          </div>
          <div class="pro-name">
            <h4>Salsa de tomate fruco 2000g</h4>
          </div>
          <div class="pro-prace">
            <h4>$2.200</h4>
          </div>
        </div>
        <div class="con-number">
          <input type="number" value="{{ valor13 }}" class="in-con-number" id="numero" min="0" max="100" #numero13>

          <button class="btn-menos" value="" id="decrement" #numero13 (click)="decrement13(numero13.value)">-</button>

          <button class="btn-mas" value="" id="increment" (click)="increment13(numero13.value)">+</button>
        </div>
      </div>

      <div class="con-pro" id="p15">
        <div class="product zoomIn">
          <div class="pro-img img16">

          </div>
          <div class="pro-name">
            <h4>Pizza Emilla 450g</h4>
          </div>
          <div class="pro-prace">
            <h4>$18.000</h4>
          </div>
        </div>
        <div class="con-number">
          <input type="number" value="{{ valor14 }}" class="in-con-number" id="numero" min="0" max="100" #numero14>

          <button class="btn-menos" value="" id="decrement" #numero14 (click)="decrement14(numero14.value)">-</button>

          <button class="btn-mas" value="" id="increment" (click)="increment14(numero14.value)">+</button>
        </div>
      </div>

      <div class="con-pro" id="p16">
        <div class="product zoomIn">
          <div class="pro-img img17">

          </div>
          <div class="pro-name">
            <h4>Chocolate Jumbo 40g</h4>
          </div>
          <div class="pro-prace">
            <h4>$3.000</h4>
          </div>
        </div>
        <div class="con-number">
          <input type="number" value="{{ valor15 }}" class="in-con-number" id="numero" min="0" max="100" #numero15>

          <button class="btn-menos" value="" id="decrement" #numero15 (click)="decrement15(numero15.value)">-</button>

          <button class="btn-mas" value="" id="increment" (click)="increment15(numero15.value)">+</button>
        </div>
      </div>
    </div>

    <!-- RIGHT MENU -->

    <div class="right-menu" id="res_right">
      <div class="right-menu-title">
        <i class="fa-solid fa-cart-shopping red-color" style="font-size: 40px;"></i>
        <p class="red-color" style="font-size: 16px; letter-spacing: 0px;">Carrito <br>de Compras</p>
      </div>
      <div class="right-menu-sum">
        <div class="con-total-sum">
          <div class="total-text">
            <h4>Total</h4>
          </div>
          <div class="total-sum" style="font-weight: 100;">
            <p>$ {{ valorTotalText }}</p>
          </div>
        </div>
      </div>
      <div id="pro1" class="right-menu-shop">
        <!-- app.component.ts - linea 17-->

      </div>
      <div class="white-final-right">
        <div class="con-final-right">
          <div class="con-input-cal">
            <!-- <input type="text" placeholder="Calcular" class="input-red"> -->
            <button class="btn-red-li" (click)="calcular()">Calcular</button>
          </div>
        </div>
        <div class="con-final-right2">
          <div class="btn-sale boton-modal">
            <label for="btn-modal" class="btn-redd">Vender</label>
          </div>
        </div>
      </div>

    </div>
  </div>

  <input type="checkbox" id="btn-modal">
  <div class="container-modal">
    <div class="content-modal">
      <h3>Método de pago</h3>
      <h4>Elija el método de pago de tu cliente</h4>

      <div class="con-icons-modal">
        <div class="dolar-icon">
          <a class="con-d-b"><i class="fa-solid fa-money-bill-wave" style="
          font-size: 32px;
          color: var(--red);"></i></a>
          <h5>Efectivo</h5>
        </div>
        <div class="bill-icon">
          <a class="con-d-b"><i class="fa-solid fa-mobile-screen-button" style="
          font-size: 32px;
          color: var(--red);"></i></a>
          <h5>Movil</h5>
        </div>
        
      </div>

      <div class="con-btn-modal">
        <div id="vender_modal" class="btn-cerrar btn-reddd">
          <a (click)="vender()">
            <label for="btn-modal" class="btn-modal ">Vender</label>
          </a>
        </div>
      </div>
      
    </div>
  </div>


</body>

</html>