<!-- <ng-sidebar-container>

    <ng-sidebar [(opened)]="_opened">
            <button (click)="_toggleSidebar()" ><i class="fa-solid fa-chevron-left" style="color: black;"></i></button>

    </ng-sidebar>

    <div ng-sidebar-content>
        <div class="left-menu" id="sideMenu">
            <div class="user-img">
                <div class="edit-img">
                    <i class="fa-solid fa-pencil"></i>
                </div>
            </div>
        
            <a href="#">
                <div class="con-text-menu">
                    <i class="fa-solid fa-house-chimney red-color"></i>
                    <h4 class="red-color">Inicio</h4>
                </div>
            </a>
        
            <a href="#">
                <div class="con-text-menu">
                    <i class="fa-solid fa-users red-color"></i>
                    <h4 class="red-color">Clientes</h4>
                </div>
            </a>
        
            <a href="#" class="">
                <div class="con-text-menu selected">
                    <i class="fa-solid fa-basket-shopping"></i>
                    <h4>Ventas</h4>
                </div>
            </a>
        
            <a href="#">
                <div class="con-text-menu">
                    <i class="fa-solid fa-clipboard-list red-color"></i>
                    <h4 class="red-color">Compras</h4>
                </div>
            </a>
        
            <a href="#">
                <div class="con-text-menu">
                    <i class="fa-solid fa-cash-register red-color"></i>
                    <h4 class="red-color">Caja</h4>
                </div>
            </a>
        
            <a href="#">
                <div class="con-text-menu">
                    <i class="fa-solid fa-boxes-stacked red-color"></i>
                    <h4 class="red-color">Inventario</h4>
                </div>
            </a>
        
            <a href="#">
                <div class="con-text-menu">
                    <i class="fa-solid fa-tag red-color"></i>
                    <h4 class="red-color">Productos</h4>
                </div>
            </a>
        
            <a href="#">
                <div class="con-text-menu">
                    <i class="fa-solid fa-hotel red-color"></i>
                    <h4 class="red-color">Reportes</h4>
                </div>
            </a>
        
        
            <div class="con-btn-cerrar">
                <a href="" class="btn-red">CERRAR CAJA</a>
            </div>
        
            <div class="con-btn-salir">
                <a href="" class="btn-red">SALIR</a>
            </div>
        
        </div>
    </div>
</ng-sidebar-container> -->